<div>
    <form action="/new" method="post" >
    <div class="form_new_div">
        <div class="textarea_wrap">
            <textarea class="textarea_content" type="text" name="content_set" placeholder="なにをやらかしましたか" class="input_content" cols="24" rows="3"></textarea><br>
        </div>
        <div>
            <input type="radio" name="emotional_step_select" value="kind" id="kind">
            <label for="kind">優しめ</label>
            <input type="radio" name="emotional_step_select" value="normal" id="normal">
            <label for="normal">普通</label>
            <input type="radio" name="emotional_step_select" value="angry" id="angry">
            <label for="angry">厳しめ</label>
        </div>
        <div>            
            <input type="submit" value="反省する" class="btn_hansei">
        </div>
    </div>
    </form>
</div>