<form action="/signin" method ="post">
<div class="logon_wrap">
    <div class="logon_form">
        <input type="text" name="userid" placeholder="ユーザー名" class="input_user"><br>
        <input type="password" name="password" placeholder="パスワード" class="input_user"><br>
        <input class="btn_signon_submit" type="submit" value="ログイン">
        <a href="/signup" class="btn_signup">新規登録</a>
    </div>
 </div>
</form>

<script>
$(function() {
    function isAlphanumeric(text) {
        const alphanumericRegex = /^\w+$/;
        return alphanumericRegex.test(text);
    }
    
    $('.input_user').on('change', function() {
        if (!isAlphanumeric(this.value)) {
            $('.p_error_loginout').text('ユーザー名、パスワードは英数字のみ入力できます');
        }else{
            $('.p_error_loginout').text('');
        }
    });
});
</script>
